
@{
    ViewBag.Title = "About";
}


<!-- Page content-->

    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <!-- Blog entries-->
        <div class="col-md-7 col-offset-1">
           
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="display-4">
                        Biz Kimiz?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Images/profile.jpg" style="width:1000px; height: 300px" class="img-responsive figure-img img-thumbnail " alt="Alternative Text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <blockquote class="blockquote text-right">
                        <p class="mb-0">
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                        <footer class="blockquote-footer my-0">Someone famous in <cite title="Source Title">Source Title</cite>

                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-12 mb-4 mt-4">
                    <h3>Tincidunt integer eu augue </h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
                <div class="col-md-12 mb-4">
                    <h3>Tincidunt integer eu augue </h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
                <div class="col-md-12 mb-4">
                    <p class="lead">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac
                    </p>
                </div>
                <div class="col-md-12 mb-4">
                    <h3>Tincidunt integer eu augue </h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel. Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
                <div class="col-md-12 mb-4">
                    <p class="lead">
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac
                    </p>
                </div>

            </div>
            
        </div>
    </div>


