@model NaciboUser
@{
    ViewBag.Title = "Profiliniz";
    
}

<div class="row p-lg-5 pt-3">
    <div class="col-md-12 m-5">
        <p class="display-4 border-bottom">
            Kullanıcı Hesabı
        </p>
    </div>

</div>

<div class="row p-5">
    <div class="col-md-2 login-container">
        <div class="avatar">
            <img src="~/Images/@Model.ProfileImageFileName" class="rounded-circle" width="128" height="128" />
        </div>
    </div>
    <div class="col-md-10">
        <h3 class="display-5 mb-4">@(Model.FirstName + " " + Model.LastName)</h3>
        <p>
            <h5><b>Kullanıcı Adı:</b> @Model.UserName</h5>
            <h5><b>E-mail:</b> @Model.Email</h5>
        </p>

        <p class="mt-4"><a href="/Home/EditProfile">More..</a></p>

    </div>
   
</div>



<script>
    $(function () {
        $("footer").hide();
    });

</script>
