@using NaciboNotesPlatform.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
    <!-- Bootstrap core JS-->
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Content/scripts.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>



    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    @*Optional theme*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    @*Latest compiled and minified JavaScript*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Core theme JS-->

</head>
<body>
   
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">Nacibo Notes</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Menü"><span class="navbar-toggler-icon"></span></button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    @if (CurrentSession.User != null)
                    {
                        <li class="btn-group dropdown">
                            <a href="/Note/Index" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
                                <span class="glyphicon glyphicon-wrench"> </span> Yönetim

                            </a>
                            <ul class="dropdown-menu">
                            <li>
                                <a href="/Note/Create">
                                     <span class="glyphicon glyphicon-plus"></span> Not Ekle
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/Note/Index">
                                    <span class="glyphicon glyphicon-th-list"></span> Notlarım
                                </a>
                            </li>
                            <li>
                                <a href="/Note/MyLikedNotes">
                                    <span class="glyphicon glyphicon-heart"></span> Beğendiklerim
                                </a>
                            </li>
                        @if (CurrentSession.User.IsAdmin)
                        {
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/Category/Create">
                                    <span class="glyphicon glyphicon-plus"></span> Kategori Ekle
                                </a>
                            </li>
                            <li>
                                <a href="/Category/Index">
                                    <span class="glyphicon glyphicon-th-list"></span> Kategoriler
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/NaciboUser/Create">
                                    <span class="glyphicon glyphicon-plus"></span> Kullanıcı Ekle
                                </a>
                            </li>
                            <li>
                                <a href="/NaciboUser/Index">
                                    <span class="glyphicon glyphicon-th-list"></span> Kullanıcılar
                                </a>
                            </li>
                        }

                            </ul>
                        </li>
                     }

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-heart"> </span> En Beğenilenler
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                        </a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (CurrentSession.User == null)
                    {
                        <li class="nav-item">
                            <a class="giris" href="/Home/Login">
                                <span class="glyphicon glyphicon-log-in"></span> Giriş
                            </a>
                        </li>
                                        <li class="nav-item">
                                            <a class="giris" href="/Home/Register">
                                                <span class="glyphicon glyphicon-user"></span> Üye Ol
                                            </a>
                                        </li>
                                    }
                                    else
                                    {

                        <li class="btn-group dropdown">
                            <a href="/Home/ShowProfile" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
                                <span class="glyphicon glyphicon-user"> </span> @CurrentSession.User.UserName
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Home/ShowProfile">
                                        <span class="glyphicon glyphicon-user"></span> Profil
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/Home/EditProfile">
                                        <span class="glyphicon glyphicon-edit"></span> Düzenle
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/DeleteProfile" onclick="return confirm('Hesabınızı silmek istediğinize emin misiniz?');">
                                        <span class="glyphicon glyphicon-trash"></span> Sil
                                    </a>
                                </li>
                            </ul>
                        </li>


                                        <li class="nav-item">

                                            <a class="giris" href="/Home/Logout">
                                                <span class="glyphicon glyphicon-log-out"></span> Çıkış
                                            </a>
                                        </li>
                                    }



                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()


    <!-- Footer-->

    <footer class="py-5 bg-dark">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4 class="m-0 text-white" style="padding-left:20px">
                    Site Haritası
                </h4>
                <br />
                <p class="m-0 text-white">
                    <ul list-style-type: none;>
                        <li>
                            <a href="/Home/About">
                                <span class="glyphicon glyphicon-info-sign"></span> Hakkımızda
                            </a>
                        </li>
                        <li>
                            <a href="/Home/MostLiked">
                                <span class="glyphicon glyphicon-heart"> </span> En Beğenilenler
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Index">
                                <span class="glyphicon glyphicon-th-list"></span> Son Notlar
                            </a>
                        </li>

                    </ul>


                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h4 class="m-0 text-white">
                    <strong>
                        Nacibo Notes
                    </strong>
                </h4>
                <hr />
                <p class="m-0 text-white">Tüm hakları saklıdır &copy; Nacibo Notes @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h4 class="m-0 text-white">
                    <strong>
                        E-bülten Üyeliği
                    </strong>
                </h4>
                <br />

                <div class="col-md-10 col-md-offset-1">
                    <p class="text-white-50">Aşağıya adresinizi girerek üye olabilirsiniz..</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                </div>



            </div>
        </div>

    </footer>




</body>
</html>