@model List<Comment>
@using NaciboNotesPlatform.Models

@{ 
    NaciboUser user = CurrentSession.User;
}

@foreach (Comment item in Model)
{
    <div class="media">
        <div class="media-left media-top">
            <div class="media-object">
                @if (item.NaciboUser.ProfileImageFileName == null)
                {
                    <img src="~/Images/profile.jpg" width="30" height="30" class="rounded-circle" />
                }

                else
                {
                    <img src="~/Images/@item.NaciboUser.ProfileImageFileName" width="30" height="30" class="rounded-circle" />
                }
            </div>
        </div>
        <div class="media-body">
            <div class="mb-3">
                <div class="row">
                    <div class="col-md-8">
                        <small class="text-muted ml-2">
                            <span>
                                @item.NaciboUser.UserName
                            </span> &nbsp;&nbsp;
                            <span class="mx-2">-</span>
                            <span>
                                @if (item.ModifiedDate != null)
                                {
                                    @item.ModifiedDate
                                }
                                else
                                {
                                    @item.CreatedDate
                                }
                            </span>
                        </small>

                    </div>
                    <div class="col-md-4 text-right">

                        @if (user != null && user.ID == item.NaciboUser.ID)
                        {
                            <button type="button" class="btn btn-light btn-sm" data-edit-mode="false" onclick="doComment(this, 'edit_clicked',@item.ID,'#comment_text_@item.ID');">
                                <span class="glyphicon glyphicon-edit text-warning"></span>
                            </button>
                            <button type="button" class="btn btn-light btn-sm" onclick="doComment(this, 'delete_clicked',@item.ID);">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </button>
                        }
                    </div>
                </div>
                
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-comment text-muted"></span>  &nbsp;
                    <span id="comment_text_@item.ID" contenteditable="false">
                        @item.Text
                    </span>
                </div>
            </div>

        </div>
    </div>
}

@if(user != null)
{
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" id="new_comment_text" class="form-control" placeholder="Yorumunuz...." />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="doComment(this, 'new_clicked',-1);">
                        <span class="glyphicon glyphicon-send"></span> Gönder
                    </button>
                </span>
            </div>
        </div>
    </div>

    
}