@using Project.BLL.Managers
@using NaciboNotesPlatform.Models
@{ 

    List<Category> list = CacheHelper.GetCategoriesFromCache();
 }

<div class="card-header display-4">Kategoriler</div>
<div class="card-body">
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-unstyled mb-0">
                <li class="list-group">
                    <a href="@Url.Action("Index","Home")" class="nav-link link-dark">
                        <span class="glyphicon glyphicon-th-list"> </span>   Tümü
                    </a>
                </li>

                @foreach (Category item in list)
                {
                    <li class="list-group nav-item ">
                         <a href="/Home/ByCategory/@item.ID" title="@item.Description" class="nav-link link-dark">
                             <span class="glyphicon glyphicon-th-list"> </span>   @item.Title
                         </a>
                        
                    </li>
                }


            </ul>
        </div>

    </div>
</div>

